<form id="add-users-to-team-form" action="{{ url_for('admin.add_users_to_team', team_id=team.id) }}" method="post">
    <input type="hidden" name="csrf_token" id="csrf_token_add_users_to_team_form" value="{{ form.csrf_token._value() }}">
    <div class="mb-3">
        {{ form.users.label(class="form-label") }}
        {{ form.users(class="form-control") }}
        {% for error in form.users.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
</form>