{% extends "base.html" %}

{% block content %}
    <h1>Import/Export Users</h1>
    <div class="row">
        <div class="col-md-8">
            <p>Please use the new XLSX template for importing users. It includes data validation for predefined fields.</p>
            {% include 'admin/_import_form.html' with context %}
            <a href="{{ url_for('admin.download_user_import_template_xlsx') }}" class="btn btn-info mt-3">Download User Import Template (XLSX)</a>
        </div>
    </div>
    <a href="{{ url_for('admin.index') }}" class="btn btn-secondary mt-3">Retour au Dashboard Admin</a>
{% endblock %}
